<h1> Welcome to Super Rentals </h1>
<p>We hope you find exactly what you're looking for in a place to stay.</p>

<div class="well">
  <ul>
    {{#each model.rentals as |rental|}}
      {{rental-tile rental=rental}}
    {{/each}}
  </ul>
</div>


{{new-rental saveRental2="saveRental3"}}
<br>

<h2>All reviews </h2>

<div class="well">
  <ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>
</div>

{{new-review saveReview2="saveReview3"}}
